.cart-container {
  width: 65%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
}

.cart-header {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkgrey;
}

.header-block {
  text-transform: capitalize;
  width: 23%;
}
.header-block:last-child {
  width: 8%;
}

.empty-cart-message {
  text-align: center;
  padding: 20px;
  font-size: 1.2rem;
  color: #777;
}

@media (max-width: 776px) {
  .cart-container {
    width: 80%;
    min-height: 90vh;
  }
}

@media (max-width: 576px) {
  .header-block {
    font-size: 10px;
  }
}
